*{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}
/* section 1 */
.class-1{
    /* margin: 0px 100px 0px 600px; */
    background-image: url('./images/banner/banner.png');
    /* background-color: aqua; */
    height: 810px;
}

.demo-class-1{
    margin: 0px 100px 0px 900px; 
    color: white;

}
.title-1{
    padding-top: 200px;
    font-size: 50px;
    padding-bottom: 25px;
}
.demotitle-1{
    font-size: 15px;
    padding-bottom: 25px;
}

.sub-title-1{
    /* padding-left: 100px; */
    /* padding: 20px; */
    /* padding-bottom: 20px; */
    padding-left: 15px;
    margin-left: 250px;
    width: 130px;
    height: 50px;
    color: blueviolet;
}

/* section 2 */
.mains{
    display: flex;
}
.main{
   
     padding: 250px 100px 0px 100px; 
}

.title-2{
    padding-bottom: 20px;
    font-size: 50px;

}

.demotitle-2{
    padding-bottom: 20px;
    font-family:sans-serif;
}
ul {
    list-style: none;
  }
ul li:before {
    content: '✓';
    
  }

/* section 4 */

.main-title{
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}

.mains{
    display: flex;
    padding-left: 200px;
}
 .mains-1{
    padding-left: 40px;
} 
.title-4{
    margin-top: 25px;
    margin-right: 100px;
}
.hh{
    padding-left: 20px;
    font-size: 30px;
}

.pp{
    padding-left: 15px;
}

/* section 4 */

.tittlle{
    margin-bottom: ;
    margin: 50px 200px 80px 200px;
    /* background: linear-gradient(images);  */
    /* background-image: linear-gradient( #75); */
    background-image: url("./images/watch.png"), linear-gradient(#eb01a5, #d13531);
    height: 220px;
    
    /* padding-right: 250px; */
}

.hhh{
    font-size: 30px;
    padding: 60px 200px 20px 50px;

    
}
.bbb{
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50px;
    font-size: 20px;
    color: red;
    
}

/* section 5 */
.main-classes{
    display: flex;
    background-color: black;
}
.contact{
    margin: 50px 500px 10px 180px ;
    color: white;
}
.contact a{
    text-decoration: none;
}
.aa{
  padding-bottom: 15px;
}
.bb{
    padding-bottom: 15px;
}
.cc{
    padding-bottom: 15px;
    font-size: 22px;
}
.contact-2{
    margin-top: 50px;
    margin-right: 100px;
    color: white;
}

.aaa{
    padding-bottom: 20px;
    font-size: 50px;
}

input{
    height: 50px;

}

.ccc{
    margin-top: 30px;
    padding: 15px 30px;
}
